@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

.privacy-policy {
  display: grid;
  padding: 16px;
  gap: 16px;
  margin-bottom: 60px;
  padding-bottom: 150px;
}

.privacy-policy h3,
.privacy-policy p {
  font-family: "Inter";
}

.privacy-policy ul {
  display: grid;
  gap: 12px;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
}

.privacy-policy ul li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media screen and (min-width: 768px) {
  .privacy-policy {
    gap: 24px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .privacy-policy ul {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .privacy-policy {
    padding-left: 40px;
    padding-right: 40px;
  }

  .privacy-policy ul {
    padding-left: 40px;
    padding-right: 40px;
  }
}
